.flow_container {
  // style={{ width: "80vw", height: "100vh", overflow: "hidden" }}
  .flow_pane_container {
    width: 80vw;
    height: 100vh;
    overflow: hidden;
  }
  @media screen and (max-width: 768px) {
    .flow_pane_container {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
  }
}
