.button {
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
  font-weight: 600;
  color: rgb(102, 102, 255);
  border: 1px solid rgb(102, 102, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:hover {
    background-color: rgb(102, 102, 255);
    color: white;
  }
}
